@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,300;0,8..30,400;0,8..30,600;0,8..30,700;1,8..30,600;1,8..30,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Piazzolla', serif;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

.btn {
	background-image: linear-gradient(135deg, #008aff, #86d472);
	color: #ffffff;
	display: block;
	height: 50px;
	width: 150px;
	margin-top: 50px;
	font-size: 20px;
	font-weight: 700;
	padding: 5px;
	border-radius: 5px;
	transition: all 0.5s ease;
}

.btn:hover {
	color: #000;
}

.btn .btnspan {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0e0e10;
	border-radius: 5px;
	height: 100%;
	transition: background 0.5s ease;
	width: 100%;
}

.btn:hover .btnspan {
	background: transparent;
}

.section_title {
	text-align: center;
}

.section_title h2 {
	font-size: 40px;
	text-transform: uppercase;
	position: relative;
}

.section_title h2::before {
	background-color: #FA7D19;
}

.section_title h2::after {
	background-color: #FA7D19;
}

.section_title p {
	margin: 10px 0;
	text-align: center;
}

h3 {
	font-size: 30px;
	text-transform: capitalize;
	text-align: center;
}

img {
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	font-size: 18px;
	text-align: justify;
	font-weight: 300;
}

.two_post,
.three_post,
.four_post,
.footer_area {
	padding: 50px 0;
	overflow: hidden;
	background: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 99;
}

.two_post::after,
.three_post::after,
.four_post::after,
.footer_area::after {
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	opacity: .5;
	z-index: -1;
}

.two_post .post,
.three_post .post,
.four_post .post,
.footer_box,
.img {
	float: left;
	padding: 50px;
	margin: 10px;
	background-color: #000;
	border-radius: 5px;
	box-shadow: inset 5px 5px 10px #333, inset -5px -5px 10px #333;
}

.two_post .img_box img,
.three_post .img_box img,
.four_post .img_box img,
.footer_area .img img {
	transition: .5s;
	cursor: pointer;
}

.two_post .img_box,
.three_post .img_box,
.four_post .img_box {
	overflow: hidden;
	margin: 20px 0;
}

.two_post .img_box img:hover,
.three_post .img_box img:hover,
.four_post .img_box img:hover,
.footer_area .img img:hover {
	transform: scale(1.1);
}

/* Main Area Start */

/* First Section Start */

.two_post {
	background-image: url('img/bg_img_1.jpg');
}

.two_post .section_title h2::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #fff;
	border-left: 5px solid #fff;
	bottom: 12px;
	left: 25%;
}

.two_post .section_title h2::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	top: 10px;
	right: 25%;
}

.two_post .post {
	width: 48.6%;
}

.two_post .img_box img {
	height: 500px;
}

.two_post .img_box {
	height: 500px;
}

.two_post a {
	margin: auto;
	margin-top: 50px;
}

/* First Section End */

/* Second Section Start */

.three_post {
	background-image: url('img/bg_img_2.jpg');
}

.three_post .section_title h2::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #fff;
	border-left: 5px solid #fff;
	bottom: 12px;
	left: 4%;
}

.three_post .section_title h2::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	top: 10px;
	right: 4%;
}

.three_post .post {
	width: 32%;
}

.three_post .post .img_box img {
	height: 300px;
}

.three_post .post .img_box {
	height: 300px;
}

/* Second Section End */

/* Third Section Start */

.four_post {
	background-image: url('img/bg_img_3.jpg');
}

.four_post .section_title h2::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #fff;
	border-left: 5px solid #fff;
	bottom: 12px;
	left: 2%;
}

.four_post .section_title h2::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
	top: 10px;
	right: 2%;
}

.four_post .post {
	width: 23.7%;
}

.four_post .post .img_box img {
	height: 200px;
}

.four_post .post .img_box {
	height: 200px;
}

/* Third Section End */

/* Main Area End */

/* Footer Section Start */

.footer_area {
	background-image: url('img/bg-1.png');
}

.footer_area h3::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #FA7D19;
	border-left: 5px solid #FA7D19;
	bottom: -5px;
    left: -15px;
}

.footer_area .footer_box h3::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-top: 5px solid #FA7D19;
	border-right: 5px solid #FA7D19;
	top: 0px;
    right: 115px;
}

.footer_area .footer_box.fb_2 h3::after {
    right: 80px;
}

.footer_area .footer_box.fb_3 h3::after {
    right: 85px;
}

.footer_area .footer_box.fb_4 h3::after {
    right: 105px;
}

.footer_area h3 {
	text-align: left;
}

.footer_area p,
.footer_area small,
.footer_area a {
	font-weight: 700;
}

.footer_box {
	width: 23.7%;
	background: none;
	border: none;
	box-shadow: none;
}

.footer_box h3 {
	margin-bottom: 20px;
	margin-left: 15px;
	position: relative;
}

i.fa-solid {
	margin-right: 10px;
	color: #FA7D19;
}

.footer_area img {
	height: 100px;
	width: 100px;
}

.img {
	padding: 0;
	border: 1px solid #fff;
	margin: 0;
	margin-right: 10px;
	height: 100px;
	width: 100px;
	overflow: hidden;
	border-radius: 5px;
}

.img_text {
	margin-bottom: 25px;
}

.img_area {
	margin-bottom: 10px;
	overflow: hidden;
}

.footer_area span {
	margin: 0 5px;
}

.footer_area li {
	list-style: none;
}

.footer_area a {
	background: transparent;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	transition: .3s;
}

.footer_area a:hover {
	color: yellow;
}

/* Footer Section End */

/* CopyRight Area Start */

.copyright_area {
	background-color: #000;
	padding: 20px;
	text-align: center;
}

.copyright_text p {
	text-align: center;
}



/* CopyRight Area End */